@font-face {
  font-family: "iconfont"; /* Project id 4500528 */
  src: url('//at.alicdn.com/t/c/font_4500528_dgumy4rhncn.woff2?t=1712667006993') format('woff2'),
       url('//at.alicdn.com/t/c/font_4500528_dgumy4rhncn.woff?t=1712667006993') format('woff'),
       url('//at.alicdn.com/t/c/font_4500528_dgumy4rhncn.ttf?t=1712667006993') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-doubbysearch:before {
  content: "\e840";
}

.icon-doubbygerenzhongxin-zhihui:before {
  content: "\e61e";
}

.icon-doubbyfenxiang:before {
  content: "\e61f";
}

.icon-doubbyshuba:before {
  content: "\e624";
}

.icon-doubbyshequhuodong:before {
  content: "\e627";
}
