/* 存储的颜色 */
:root {
    --select-color: #000000;
    --bgcolor: red;
}

* {
    margin: 0;
    padding: 0;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 底部导航 */
.footer {
    height: 60px;
}

.footer-seat {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-top: 3px solid #eee;
    background-color: #eee;
}

.footer-list {
    max-width: 1080px;
    height: 60px;
    margin: auto;
}

.footer-list ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.footer-list i {
    font-size: 20px;
}

.selected {
    color: var(--select-color);
}

/* 搜索框样式 */
.header-search {
    background-color: transparent;
    padding: 10px;
}

.search-list {
    background-color: rgba(216, 210, 210, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.header-search input {
    width: 90%;
    border: 0;
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.header-search input::placeholder,
.header-search {
    color: #b12828;
}

.header-tabs {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.poplist {
    padding: 10px;
    text-align: center;
}

.poplist h4 {
    padding: 10px;
}

.poplist ul {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.poplist ul li {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
}

.poplist .active {
    background-color: #f5cb3b;
    color: #fff;
}

/* chatrstab 以下市tab标签页的样式 */
.chatrstab .van-tabs {
    overflow-x: auto;
    /* 渐变消失的样式 */
    -webkit-mask: linear-gradient(90deg, #000 80%, transparent);
}

.chatrstab .van-tab {
    background-color: #f1f1f1;
    border-radius: 20px;
    margin: 0 6px;
    white-space: nowrap;
}

.chatrstab .van-tabs--line .van-tabs__wrap {
    height: 35px;
}

.chatrstab .van-tabs__line {
    background: transparent;
}

.chatrstab .van-tab--active {
    background: transparent;
    border: #000000 1px solid;
}

.chatrstab-content {
    display: flex;
    height: 310px;
    overflow-x: auto;
}

.chatrstab-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* 创建样式计数器用来对每一个item进行设置数字 后面使用‘.chatrstab-title::before’ 进行自增累加 */
    counter-reset: count;
}

.chatrstab-list {
    display: flex;
    width: 450px;
    height: 65px;
    margin: 6px;
}

/* tab中图片大小设置 */
.chatrstab-img {
    width: 50%;
}

.chatrstab-img img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.chatrstab-title {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.chatrstab-title p {
    color: #999;
    font-size: 12px;
    white-space: nowrap;
}

/* 添加一个伪元素(实现计数器) */
.chatrstab-title::before {
    counter-increment: count;
    content: counter(count);
    position: absolute;
    top: 5;
    left: -20px;
}

/* 选中前三个梳理 */
.chatrstab-list:nth-child(-n + 3) .chatrstab-title::before {
    color: red;
    font-size: 20px;
}

/* 轮播样式 */
.banner {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.banner img {
    width: 100%;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;
}

/* 为你推荐 */
.recommend {
    padding: 10px;
}

.recommend-list {
    margin-top: 10px;
}

.recommend-like {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 10px 0px;
}

.recommend-like h3::before {
    content: "";
    width: 75px;
    height: 10px;
    background: linear-gradient(transparent, var(--bgcolor));
    position: absolute;
    bottom: 15px;
    left: 0px;
}

.recommend-list ul li {
    display: flex;
    justify-content: space-between;
    height: 120px;
    margin-bottom: 20px
}

.recommend-img {
    width: 25%;
}

.recommend-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.recommend-title {
    width: 70%;
}

.recommend-title h4 {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
}

.recommend-title p {
    color: #999;
    font-size: 12px;
}

.recommend-title-author {
    height: 20px;
}

/* 内容溢出隐藏*/
.recommend-title-desc {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}


/* 弹出层样式 */
.like-list {
    padding: 35px 15px;
}

.like-list h4 {
    text-align: center;
    font-size: 15px;
    padding: 20px;
}

.like-list p {
    font-weight: 600;
}

.like-list ul {
    padding: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.like-list ul li {
    background-color: #f1f1f1;
    text-align: center;
    border-radius: 25%;
    padding: 20px 20px;
}
/* 选中的按钮 */
.like-list .addclass {

}